@font-face {
    font-family: 'SeoulAlrimTTF-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'SeoulAlrimTTF-Medium', sans-serif;
}
